<nav
  [ngClass]="{
    'opacity-0 -translate-y-full': !showNavbar,
    'opacity-100 translate-y-0': showNavbar
  }"
  class="transition-all duration-300 fixed top-0 left-0 w-full z-50 bg-white shadow-md"
>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center h-20">

      <div class="flex-shrink-0">
        <img src="colachel-cafe-final-with-slogan.png" alt="Colachel Cafe Logo" class="h-20 w-auto">
      </div>

      <div class="hidden md:flex space-x-6 items-center">
        <a *ngFor="let menu of menuItem"
           [routerLink]="menu.path"
           routerLinkActive="font-bold "
           [routerLinkActiveOptions]="{ exact: true }"
           class="text-[#deb074]  transition duration-200">
          {{ menu.label }}
        </a>
      </div>


      <div class="md:hidden">
        <button (click)="toggleMenu()" class="text-[#deb074] focus:outline-none">
          <svg *ngIf="!isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <svg *ngIf="isMenuOpen" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile Nav -->
  <div *ngIf="isMenuOpen" class="md:hidden px-4 pb-4 space-y-2">
    <a *ngFor="let menu of menuItem"
       [routerLink]="menu.path"
       (click)="selectMenu()"
       class="block text-[#deb074] hover:underline">
      {{ menu.label }}
    </a>
  </div>
</nav>


<div *ngIf="!isMenuPage()" class="bg-black text-[#deb074] py-6 mt-20">
  <div class="max-w-7xl mx-auto px-4 flex flex-col md:flex-row justify-between items-center">

  
    <h1 class="text-3xl font-bold mb-2 md:mb-0">
      {{ isAboutPage() ? 'ABOUT US' : (isContactPage() ? 'CONTACT' : '') }}
    </h1>

 
    <div class="space-x-2 flex items-center text-md">
      <a routerLink="/" class="hover:underline">Home</a>
      <span>/</span>
      <span>
        {{ isAboutPage() ? 'About Us' : (isContactPage() ? 'Contact' : '') }}
      </span>
    </div>
    
  </div>
</div>


