
  <app-nav-menu></app-nav-menu>

  <div class="bg-white py-8">
    <div class="max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center px-2">
      

      <div class="space-y-6 text-gray-800 text-center md:text-left">
        <p class="text-sm uppercase text-gray-600 tracking-widest italic font-extrabold underline">About Us</p>
        
        <h3 class="text-4xl font-extrabold">
          Open Now: Dine with a Stunning Beach View at Our Restaurant
        </h3>
        
        <p class="text-sm font-medium">
          We are thrilled to welcome you to our restaurant, where you can enjoy delicious meals while taking in the breathtaking scenery of the beach. 
          Join us today and experience dining with a view like no other!
        </p>
        
        <div class="border-l-4 border-[#CDA45E] bg-gray-50 py-8 rounded-md shadow-md">
          <p class="font-semibold text-gray-800 text-lg px-4">
            Experience Coastal Dining with Spectacular Beach Views
          </p>
        </div>
      </div>
      
  

      <div class="flex justify-center">
        <img src="about-us.jpg" alt="About Us Beach View" 
             class="w-72 h-72 sm:w-96 sm:h-80 object-cover rounded-full shadow-md custom-clip">
      </div>
    </div>
  </div>


  <div>
    <app-footer></app-footer>
  </div>
  