<div class="bg-white py-8">
  <div class="max-w-5xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center px-4 sm:px-6">

    <div class="space-y-6 text-gray-800 text-left px-2 sm:px-4">
      <p class="text-sm uppercase text-gray-600 tracking-widest italic font-extrabold double-underline">
        About Us
      </p>

      <h3 class="text-3xl sm:text-4xl font-extrabold leading-snug">
        Open Now: Dine with a Stunning Beach View at Our Restaurant
      </h3>

      <p class="text-base font-medium leading-relaxed">
        We are thrilled to welcome you to our restaurant, where you can enjoy delicious meals while taking in the
        breathtaking scenery of the beach.
        Join us today and experience dining with a view like no other!
      </p>

      <div class="border-l-4 border-[#CDA45E] bg-gray-50 py-6 px-4 rounded-md shadow-md">
        <p class="font-semibold text-gray-800 text-lg">
          Experience Coastal Dining with Spectacular Beach Views
        </p>
      </div>
    </div>

    <div class="flex justify-center md:justify-end">
      <img src="about-us.jpg" alt="About Us Beach View"
        class="w-64 h-64 sm:w-80 sm:h-80 object-cover rounded-full shadow-md custom-clip" />
    </div>

  </div>
</div>
<div>
  <app-our-testimonials></app-our-testimonials>
</div>
<div>

  <app-footer></app-footer>
</div>