<section class="bg-gray-50 py-8 max-w-6xl mx-auto px-4 sm:px-8 md:px-16 lg:px-20">
  <div class="mb-10 md:mb-14">
    <p
      class="text-xs sm:text-sm uppercase tracking-widest italic font-extrabold double-underline text-gray-600 mb-1 opacity-0 animate-fade-in-delay transition-opacity duration-1000">
      Specials
    </p>
    <h2
      class="mt-4 text-3xl sm:text-5xl font-extrabold italic text-yellow-600 text-left opacity-0 animate-fade-in-delay transition-opacity duration-1000">
      Check Our Specials
    </h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-12">
    <div *ngFor="let special of specials" (click)="selectSpecial(special)" [ngClass]="{
      'ring-2 ring-yellow-400': special === selectedSpecial
    }" class="relative bg-white/30 backdrop-blur-md border border-gray-200 rounded-xl shadow-lg pt-16 pb-4 px-4 cursor-pointer transition-all hover:scale-105 duration-300
           w-full max-w-xs sm:max-w-none mx-auto">
      <div class="absolute -top-8 left-1/2 transform -translate-x-1/2">
        <div class="w-20 h-20 rounded-full overflow-hidden border border-white shadow-md">
          <img [src]="'https://coastalcafe.in/images/' + special.image" [alt]="special.name"
            class="w-full h-full object-cover" />
        </div>
      </div>
      <div class="text-center mt-2">
        <p class="text-sm font-semibold text-gray-800">{{ special.name }}</p>
        <p class="text-sm text-gray-500 mt-1 text-yellow-800">Price : {{ special.price }}</p>
      </div>
    </div>

  </div>
</section>