
<div class="menu-img relative min-h-screen w-full bg-cover bg-center bg-no-repeat bg-img">

    <div class="absolute inset-0 bg-black/50"></div>
  
    <section class="relative z-10 flex flex-col justify-center items-center min-h-screen px-4 ">
  
      <div class="menu-section  max-w-4xl w-full text-center space-y-8">
  
        <h2 class="text-4xl sm:text-5xl font-bold text-yellow-600">
          Check Our Tasty Menu
        </h2>
  
        <div class="flex flex-wrap justify-center gap-4">
          <button *ngFor="let category of categories" (click)="setActiveCategory(category)" class="px-4 py-1 text-sm btn-bg border border-orange-400 text-orange-300 font-semibold
                     backdrop-blur-md transition-all duration-300
                     hover:bg-orange-400/40 hover:text-white" [class.bg-orange-400]="activeCategory === category"
            [class.text-black]="activeCategory === category">
            {{ category }}
          </button>
        </div>
  
  
        <div class="w-full space-y-4 mt-6 text-white font-semibold text-lg">
          <div *ngFor="let item of menuItems[activeCategory]" class="relative flex justify-between items-center px-2">
            <div class="flex items-center space-x-8 bg-black pr-2 z-10">
              <img [src]="item.image" alt="{{ item.name }}" class="object-cover rounded-full border border-white" style="width: 70px;
                height: 40px;               
                border-radius: 50%;
                float: left;
                border: 1px solid rgb(252, 252, 252);
                object-fit: cover;
              " />
              <span>{{ item.name }}</span>
            </div>
            <span class="bg-black pl-2 z-10">{{ item.price }}</span>
            <span class="absolute inset-0 overflow-hidden whitespace-nowrap text-white/30 pointer-events-none">
              ..........................................................................................................................
            </span>
          </div>
        </div>
      </div>
    </section>
  </div>
