<div class="menu-img relative min-h-[70vh] sm:min-h-screen w-full bg-cover bg-center bg-no-repeat overflow-x-hidden">

  <div class="absolute inset-0 bg-black/50"></div>

  <section class="relative z-10 flex flex-col justify-center items-center min-h-[70vh] sm:min-h-screen px-4 sm:px-8 py-8 animate-fade-in">

    <div class="menu-section max-w-4xl w-full text-center space-y-6 sm:space-y-8">

      <h2 class="text-2xl sm:text-5xl font-bold text-yellow-600">
        Check Our Tasty Menu
      </h2>

 <!-- Category Buttons -->
<div class="flex flex-wrap justify-center gap-2 sm:gap-4">
  <button *ngFor="let category of categories" 
          (click)="setActiveCategory(category)" 
          class="px-4 py-1 text-sm sm:text-base btn-bg text-orange-300 font-semibold
                 transition-all duration-300 hover:bg-orange-400/40 hover:text-white"
          [class.bg-orange-400]="activeCategory === category.id"
          [class.text-black]="activeCategory === category.id">
    {{ category.name }}
  </button>
</div>

<div class="w-full mt-6 text-white font-semibold text-base sm:text-lg grid grid-cols-1 sm:grid-cols-2 gap-4">
  <div *ngFor="let item of menuItemsByCategory[activeCategory]" 
       class="relative flex flex-col sm:flex-row justify-between sm:items-center px-4 py-3 space-y-2 sm:space-y-0 border border-white/10 rounded-lg transition-transform duration-300 hover:scale-[1.02] hover:bg-white/5">
    

    <span class="absolute left-0 right-0 top-1/2 -translate-y-1/2 text-white/30 whitespace-nowrap overflow-hidden pointer-events-none hidden sm:block text-sm text-center z-0">
      ..........................................................................................................................
    </span>

    <div class="flex items-center space-x-4 bg-black pr-2 z-10 w-full sm:w-auto">
      <img [src]="'https://coastalcafe.duckdns.org/images/' + item.image" alt="{{ item.name }}"
           class="object-cover rounded-full border border-white"
           style="width: 70px; height: 40px; border-radius: 50%; object-fit: cover;" />
      <span class="text-sm">{{ item.name }}</span>
    </div>

    <div class="flex justify-between w-full sm:w-auto items-center sm:space-x-2">
      <span class="bg-black pl-2 z-10 text-sm">{{ item.price }}</span>
    </div>
  </div>
</div>
    </div>
  </section>
</div>
